<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow>
    <unitTestProvider name="xUnit" />
  </specFlow>
  
  <appSettings>
    <add key="environment" value="Local" />
    <add key="showBrowserWindow" value="true" />
    <add key="onlyScreenshotErrors" value="true" />
    <add key="saveScreenShotsTo" value=".\testreports\screens" />
  </appSettings>
  
</configuration>